/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Reuse Form Styles */
.join-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow:0 20px 35px rgba(0,0,0,0.8);
}

.join-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.join-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.join-form input, .join-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.join-form .submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-form .submit-btn:hover {
    background-color: #45a049;
}

.join-form select{
    margin-bottom: 15px;
    padding: 10px;
}

.main{
    width: 100%;
    background-image: url(1.jpg);
    /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(3.jpg); */
    background-position: center;
    background-size:contain;
    height: 200vh;
    
}
